@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Copse&family=Pacifico&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    color: white;    
}

a{
    text-decoration: none;
}

/* Navbar */

header{
    position: fixed;
    width: 100%;
    font-family: 'Pacifico', cursive;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(30, 30, 30);
}

nav h1 a{
    color: white;
    text-decoration: none;
}

nav h1 a:hover{
    color: green;
    transition: 200ms ease-out;
    font-size: 25px;
}

.navbar a{
    padding: 0 5px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

.navbar a:hover{
    background-color: green;
    font-size: 20px;
    transition: 200ms ease-out;
}

/* Navbar */

/* Banner */

.banner{
    width: 100%;
    margin-top: 66px;
}

/* Banner */

/* Espaçamento da Navbar */

.space{
    height: 62px;
}
/* Container */

.container{
    margin: 10px 0;
    font-family: 'Copse', serif;
    display: flex;
    justify-content: space-between;
    background-color: rgb(10, 10, 0);
    width: 100%;
    
}

.container h1{
    font-family: 'Pacifico', cursive;
    color:green;
    text-align: center;
    margin-bottom: 10px;
}

.container div{
    width: 50%;
    padding: 10px;
}

.container div p{
    padding: 3px;
}

.container a{
    color:white;
}
.icone{
    width: 100px;
    margin: 0px 10px;
}

.center{
    text-align: center;
    font-family: 'Copse', serif;
    margin-bottom: 10px;
    background-color: rgb(10, 10, 0);
    padding: 10px;
}

.center h1{
    font-family: 'Pacifico', cursive;
    color:green;
    text-align: center;
    margin-bottom: 10px;
}

.center a{
    text-decoration: none;
}

/* Container */

/* Tabela */

table{
    margin: auto;
}

table tr td{
    padding: 10px;
}

/* Tabela */

/* Content */

.content{
    display: flex;
    align-items: center;
    margin: 0px 30px;
}

/* Content */

/* Text */

.text{
    text-align: center;
}
/* Text */

/* Footer */

footer{
    padding: 10px;
    background-color: rgb(30, 30, 30);
    text-align: center;
    font-family: 'Pacifico', cursive;
}

.bottom{
    position:fixed;
    bottom: 0;
    width: 100%;
}
/* Footer */

/* Formulário Cadastro e Login */

.cadastro{
    text-align: center;
    background-color: rgb(30, 30, 30);
    width: 50%;
    margin: 10px auto;
    border-radius: 10px;
    padding: 5px;    
}

.cadastro h1{
    font-family: 'Pacifico', cursive;
    color:green;
    text-align: center;
    margin: 10px;
}

.cadastro input{
    font-family: 'Copse', serif;
    margin: 10px;
    width: 25%;
    height: 30px;
    text-align: center;
    border: green solid 3px;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.cadastro input::placeholder{
    color: white;
}

.cadastro button{
    background-color: green;
    width: 25%;
    color:black;
    border: 2px solid black;
    border-radius: 10px;
    font-family: 'Copse', serif;
    font-size: 18px;
}

.cadastro button:hover{
    font-size: 20px;
    transition: 200ms ease-in-out;
}

.cadastro textarea{
    width: 50%;
    height: 150px;
    background-color: black;
    color:white;
    border: green solid 3px;
    padding: 5px;
    resize: vertical;
}

/* Formulário Cadastro e Login */